body {
  background-color: gray;
  background-image: url('https://th.bing.com/th/id/OIP.Pn5IOmLh9Jrb9gWStueaKwHaEK?pid=ImgDet&rs=1');
}

.card-currency  {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem; 
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: relative;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: lightgray;
  background-clip: border-box;
  border: 20px solid rgba(0, 0, 0, 0.589);
  border-radius: 0.25rem;
}

.card-new-currency {
  display: none; 
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: relative;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: lightgray;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

h1 {
  text-align: center;
}

